ion-title{
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
    font-style: normal;
    color: yellow
}
#texto-destaque{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 24px;
}

#icone-opcoes{
    width: 25px;
    height: 25px;
}
ion-toolbar{
    background-color: #BE1717;
}
ion-content{
    --ion-background-color:#E8E8E8;
}
#conversor{
    max-width: 90%;
    margin: 0 auto;
}
#conversor .selecionar-moeda{
border: 1px solid #000000;
}
#conversor .moeda{
    border: 1px solid #000000;
}
#conversor .conversor-wapper{
    display: flex;
    margin: 10px 0px;
}
.conversor-wapper .simbolo-moeda{
    border-bottom: #000000 1px solid;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
#conversor ion-input.valor{
    background-color:#ffffff;
    border-bottom: #000000 1px solid;
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
}
#conversor #icones-cima-baixo{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
} 
#conversor #caixa-cotacao{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-bottom: #000000 solid 1px;
}
#conversor #caixa-cotacao span{
    font-size: 16px;
    font-weight: 600;
}
#icones-cima-baixo ion-icon{
    width: 25px;
    height: 25px;
}
